@media screen and (min-width: 48em) {
    body {
        text-align: justify;
        background-color: rgb(238, 240, 239);
    }
}

html {
    scroll-behavior: smooth;
}

.navbar {
    border-bottom: rgb(10, 169, 243) 3px solid;
    background-color: rgb(39, 39, 39) !important;
    padding-left: 50px;
}

.navbar-dark .navbar-brand {
    color: rgb(216, 219, 218) !important;
    font-family: cursive;
}

.sidebar {
    border-right: rgb(10, 169, 243) 3px solid;
    position: fixed;
    height: 100%;
    width: 220px;
    top: 59px;
    left: 0;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(177, 180, 179);
}

.sidebar .nav-link {
    color: rgb(1, 37, 54);
    font-family: Pristina;
    font-weight: 600;
    font-size: 20px;
}

.row {
    margin: 0px !important;
}

p {
    margin-bottom: 0px !important;
}

.col-3 {
    width: 220px;
    background-color: rgb(238, 240, 239);
}

.col-10 {
    margin-left: 225px !important;
    margin-top: 70px;
    background-color: rgb(238, 240, 239);
}

.carousel {
    border-radius: 10px 10px 10px 10px !important;
    overflow: hidden;
}

.carousel-item img {
    height: 450px;
    width: 100%;
}

.carousel .carousel-indicators li {
    height: 5px;
    border-radius: 12px !important;
}

#head {
    font-weight: bolder;
    font-size: 23px;
    font-family: Comic Sans MS;
    color: rgb(83, 85, 84);
}

#bold {
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 2px 2px rgb(118, 212, 255);
    color: rgb(72, 75, 74);
}

#text {
    font-size: 16px;
    font-style: italic;
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-align: justify;
}

.list {
    font-style: italic;
    font-weight: 500;
}

#description {
    font-size: 16px;
    font-style: italic;
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-align: justify;
}

.accordion div.card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px);
    background-color: rgb(238, 240, 239);
}

#cards {
    margin-right: 25px !important;
    padding-right: 0px;
    border-radius: 10px !important;
}

#cardsHead {
    padding: 5px;
    padding-left: 13px !important;
    margin: 0px;
    font-family: cursive;
    border-radius: 10px;
}

.btn-link {
    color: #202429 !important;
}

#cardsBody {
    padding-left: 8px;
    margin: 0px;
    font-size: 16px;
    font-style: italic;
    border-radius: 10px;
    background-color: rgb(238, 240, 239);
}

#cardsBody ul {
    margin: 0px;
    background-color: rgb(238, 240, 239);
}

#sub {
    width: 270px;
    padding: 0px;
    margin-right: 8px;
    height: min-content;
    border-radius: 10px !important;
    border-bottom-width: 1px;
}

#exams {
    width: 720px;
    padding: 0px;
    margin-left: 8px;
    height: min-content;
    border-radius: 10px !important;
    border-bottom-width: 1px;
}

#science {
    position: relative;
    min-height: 200px;
    background: url('../img/science.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(181, 232, 255);
    margin: 5px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#science h1 {
    font-family: Algerian;
}

#commerce h1 {
    font-family: Algerian;
}

#arts h1 {
    font-family: Algerian;
}

#commerce {
    position: relative;
    min-height: 200px;
    background: url('../img/commerce.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(181, 232, 255);
    margin: 5px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#arts {
    position: relative;
    min-height: 200px;
    background: url('../img/arts.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(181, 232, 255);
    margin: 5px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#staff {
    position: relative;
    min-height: 200px;
    background: url('../img/arts.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(181, 232, 255);
    margin: 5px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer {
    text-align: left;
    color: black;
    font-size: 16px;
    font-style: italic;
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-align: justify;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#message,
#handle {
    width: 82%;
    height: 40px;
    margin-top: 2px;
}

.panel-collapse {
    border: 1px solid rgb(180, 179, 179);
    padding: 1px;
    height: 350px;
}

.panel-heading {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.heading {
    font-family: 'Comic Sans MS';
    font-style: italic;
    text-shadow: 1px 1px 1px;
    font-size: 20px;
    padding: 4px;
    margin: 0px;
}

.container-fluid {
    padding: 0px;
    height: 350px;
}

.c-12 {
    padding: 2px !important;
    margin: 1px;
    margin-left: 0px;
    width: 100%;
}

#output {
    padding: 2px;
    margin: 0px;
    width: 100%;
    height: 300px;
    background-color: #343A40;
    overflow-y: auto;
    overflow-x: auto;
}